<nav>
  <div class='navbar'>
   <div class='navbar-inner'>
      <div class='container-fluid'>
        <ul class='nav'>
        <% if logged_in? %>
        <% find_user %>
            <li><a href="/">Home</a></li>
            <li><a href="/users/<%=current_user.id%>/show">Profile</a></li>
            <li><a href="/decks/new">New Deck</a></li>
            <li><a href="/logout">Logout</a></li>
          <% else %>
            <li><a href="/">Home</a></li>
            <li><a href="/users/new">Register</a></li>
            <li><a href="/decks/new">New Deck</a></li>
            <li><a href="/sessions/new">Log In</a></li>
          <% end %>
        </ul>
       </div>
    </div>
  </div>
</nav>
