<nav>
  <div class='navbar'>
   <div class='navbar-inner'>
      <div class='container-fluid'>
        <ul class='nav'>
        <% if logged_in? %>
        <% find_user %>
            <li><a href="/">Home</a></li>
            <li><a href="/users/">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
          <% else %>
            <li><a href="/">Home</a></li>
            <li><a href="/users/new">Register</a></li>
          <form class="navbar-search pull-right"  method="/sesions" action="POST">
              <input type="text" class="span2" name="user[email]" placeholder="Email">
              <input type="text" class="span2" name="user[password]"placeholder="Password">
              <input type="submit" value="Login" class="btn"/>
          </form>
          <% end %>
        </ul>
       </div>
    </div>
  </div>
</nav>
