<div class="registration">
  <h1> User Registation </h1>
  <form action="/users" method="POST">
    <label for="email">Email:</label>
    <input type="text" name="user[email]" placeholder="Email@Email.com">
    <label for="password">Password:</label>
    <input type="password" name="user[password]" placeholder="Password">
    <input type="submit" value="Sign Up">
  </form>
</div>
