<h1>Hello <%= @user.email%> </h1>
<h2>This is the profile page, here will be your stats<h3>
<!-- <% @user.games.each do |stats| %> -->
  <table>
    <thread>
      <th> First Guess Correct </th>
      <th> Total Guesses </th>
    </thread >
    <tr>
      <td> <%= Num Guess correct %>
      <td> <%= Num Guess total%>
    </tr>
  </table>
<br>
<!-- <% end %> -->

    