<strong><p>Question:</p></strong>

<div id="question">
  <span>
    <%= @card.question %>
  </span>
</div>

<div id="questions_left">
  <span>
    <p>Questions left to answer: <%= @game.unanswered_cards.length %> </p>
  </span>
</div>

<div id=question_form>
  <form method= "post" action= "/guess/card/<%= @card.id %>">
    <input type= "text" name= "answer">
    <input type= "submit">
  </form>
</div>
