<div class="new_deck">
  <h1>Create New Deck</h1>
  <form action="/decks" method="POST">
    <label for="title">Deck Name:</label>
    <input type="text" name="deck[title]" placeholder="Deck Name">

      <input type="submit" value="Create New Deck">
  </form>
</div>
