<h1>Flashcards R Us</h1>
<% find_user %>
<main role="main">
<ul class="decks">
  <% @decks.each do |deck| %>

    <form action="/deck/<%=deck.id%>/game" method="post">
    <input type="hidden" name="deck_id" value="<%= deck.id %>"/>



      <input type="submit" value="<%= deck.title %>">
    </form>
    </li>

  <% end %>


</ul>
</main>
